
*{
        outline: none;
        box-sizing: border-box;
      
}
body
{
    margin: 0px;
    /* background: url(https://images.unsplash.com/photo-1606914501449-5a96b6ce24ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background: rgb(30,1,50);
    background: linear-gradient(90deg, rgba(30,1,50,1) 0%, rgba(127,5,130,1) 39%, rgba(2,210,251,1) 100%);
    height: 100vh;
   background-size: cover;
 
}
    .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
} 

/* input
{
    width: 400px;
    height: 50px;
}
button
{
    font-size: 35px;
    padding: 8px;
    
} */
#food{
    margin-left: 60px;
}

.add-recipe{
    padding:0.5em 1em 0.5em 1em;
    border-radius:100px;
    border:none;
    font-size:1.5em;
    position:relative;
    background:#0652DD;
    cursor:pointer;
    height:2em;
    width:10em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
    float: right;
     margin-left: 200px;
}
#add-recipe{
    color:#fff;
    background:#1eaddc;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
   border: none;
}
i{
    margin-right:10px;
  }
.search-data{
    position: absolute;
    top: 5%;
    left: 35%;
    transform: translate(-50%,-50%);
    height: 60px;
    background:#1eaddc;
    line-height:40px;
    padding: 10px;
    border-radius: 100px;
}
.search-input{
    background:#1eaddc;
    color: #fff;
    outline: none;
    border: none;
    line-height:40px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.7s ease;
    font-family:sans-serif;
    margin: -2px;
    
}
.search-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background: #1eaddc;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color:#fff;
    transition: 0.4s ease;
    border: none;
}
.search-data:hover > .search-input{
    width: 240px;
    margin: 0px 8px;
}
.search-input:focus{
    width: 240px;
    margin: 0px 8px;
}
.search-data:hover > .search-btn{
    background: #fff;
    color:#1eaddc ;
}
.search-input:focus + .search-btn{
    background: #fff;
    color: #1eaddc;
}



.two-container
{
    /* margin-top: 10px;
    width: 100%;
    height: 85%;
    background-color: white;
    display: flex;
    margin: 10px; */
    display: flex;
   position: absolute;
   top: 23%;
}
.left-container
{
    /* width: 35%;
    background-color: darkcyan;
    height: 100%;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    margin-right: 10px;
    overflow: auto; */
    width: 30rem;
    height: 110vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 2;
    margin-left: 15px;
    background: inherit;
    overflow: auto;
    background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(255, 255, 255, 0.22);
}
.left-container::before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
    
}
.right-container
{
    /* width: 65%;
    background-color: white;
    height: 100%;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    text-align: center;
    overflow: auto; */
    width: 60rem;
    height: 110vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 2;
    background: inherit;
    overflow: auto;
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(255, 255, 255, 0.22);
    
}
.right-container::before{
    content: "";
    position: absolute;
    /* background: inherit; */
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(0px);
    margin: -20px;
    
} 
.right-container::-webkit-scrollbar
{
    display: none;
}
.left-container::-webkit-scrollbar
{
    display: none;
}

.right-container > span
{
    font-weight: 100;
    font-style: italic;
    font-family: sans-serif;
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
   
}

#laugh
{
    font-size: 30px;
}

#myimage
{
    width: 350px;
    height: 250px;
    border: 2px solid white;
    box-shadow: 2px 2px 10px red;
    border-radius: 20%;

}

 #mytitle, #mypublisher
{
   color: gray;
   text-shadow: 2px 2px 10px white;
} 

.left-food-container
{
    text-align: center;
    padding: 20px;
    border: 5px solid rgb(26, 126, 185);
    margin: 10px;
    border-radius: 10%;
}

.left-food-container::before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}
#myimage:hover
{
    transform: scale(1.1);
    transition: transform 0.5s;
}

#mytitle:hover, #mypublisher:hover
{
    color: white;
    text-shadow: 2px 2px 10px gray;
    transition: color 1s;
}
.right-image
{
    width: 80%;
    height: 450px;
    margin-top: 20px;
    margin-left: 50px;
    opacity: 0.9;
    border-radius: 10%;
}
.right-title, .right-publisher, .right-cooking-time, .right-servings
{
    color: #fff;
    text-shadow: 2px 2px 10px rgb(94, 227, 237);
    margin-left: 20px;
}



#childbookmark
{
  margin-left: 650px;
    border: 1px solid gray;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    text-align: center;
    color:#0652DD;
    overflow: auto;
   
  width: 250px;
  height: 100px;
  border-radius: 25px;
  background:#1eaddc ;
  color: white;
  z-index: 2;
  transition: .4s ease-in-out;
    
}



/* input
{
    width: 300px;
    height:50px ;
    width: 60%;
    margin: 20px;
    border-radius: 10px;
} */

.btn--inline  {
    position: relative;
 font-size: 17px;
 text-transform: uppercase;
 text-decoration: none;
 padding: 1em 2.5em;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 500;
 color:white;
 margin-left: 20px;
 background-color: #1eaddc;
}
.btn--inline:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn--inline:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn--inline::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   /* .btn--inline::after {
    background-color: #fff;
   } */
   
   .btn--inline:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

   .marks{
    padding:0.5em 1em 0.5em 1em;
    border-radius:100px;
    border:none;
    font-size:1.5em;
    position:relative;
    background:#0652DD;
    cursor:pointer;
    height:2em;
    width:10em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
    float: right;
    margin-right: 150px;
  
   }
   .bkmark{
    color:#fff;
    background:#1eaddc;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
   border: none;
   }
#inc, #dec{
    position: relative;
    font-size: 17px;
   
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color:white;
    margin-left: 120px;
    background-color: #1eaddc;
}
#inc:hover, #dec:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   } 

   .ingredients{
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    font-size: large;
    padding-bottom: 30px;
    text-shadow: 2px 2px 10px rgb(94, 227, 237);
    
   }

   .recipes-form{
    padding: 30px;
   font-size: large;
   font-weight: bold;
  text-transform: uppercase;


   }
   .recipes-form input{
    padding: 10px;
    width: 40vw;
    border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  z-index: 1;
  background-color: rgb(70, 70, 70);
  
  display: inline-block;
  border: 1px solid #ccc;

   }
   #add{
    padding:0.1em 0.5em 0.1em 0.5em;
    border-radius:100px;
    border:none;
    font-size:1.1em;
    position:relative;
    background:#1eaddc;
    color: #fff;
    cursor:pointer;
    height:2em;
    width:10em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
 
     margin-left:250px;
   }
   #add:hover{
    background:#00a1d6;
   }